*.[oa]
*~
*.so
*.bak
*.pyc
*-orig
*-sav
foo*
goo*
node.log
Makefile
conf.h
config.status
config.log
config.cache
debug.html
js9
js9helper.pc
.DS_Store
funcalc
funcen
funcnts
funcnts.plot
funcnts.sed
funcone
fundisp
funds9
funhead
funhist
funhist.plot
funimage
funindex
funjoin
funmerge
funsky
funtable
funtbl
funtools.ds9
funtools.pc
gcat
configure
gnu/_funsort
util/NaN.h
autom4te.cache
a.out.dSYM
