*/*.o
*/*.lo
tags
*/tags
.deps
.gitignore
.memdump
COPYING
Makefile
Makefile.in
aclocal.m4
autom4te.cache
broken.xsl
config.guess
config.h
config.h.in~
config.log
config.status
config.sub
configure
depcomp
doc/Makefile
doc/Makefile.in
install-sh
libexslt.pc
libexslt/.deps
libexslt/.libs
libexslt/Makefile
libexslt/Makefile.in
libexslt/exsltconfig.h
libexslt/libexslt.la
libtool
libxslt-1.1.24.tar.gz
libxslt.pc
libxslt.spec
libxslt.spec.in.orig
libxslt/.deps
libxslt/.libs
libxslt/Makefile
libxslt/Makefile.in
libxslt/libxslt.la
libxslt/xsltconfig.h
ltmain.sh
missing
python/.deps
python/.libs
python/Makefile
python/Makefile.in
python/gen_prog
python/libxslt-export.c
python/libxslt-py.c
python/libxslt-py.h
python/libxslt.py
python/libxsltclass.py
python/libxsltmod.la
python/tests/Makefile
python/tests/Makefile.in
python/tests/foo
stamp-h1
tests/Makefile
tests/Makefile.in
tests/REC/.memdump
tests/REC/Makefile
tests/REC/Makefile.in
tests/REC1/.memdump
tests/REC1/Makefile
tests/REC1/Makefile.in
tests/REC2/.memdump
tests/REC2/Makefile
tests/REC2/Makefile.in
tests/XSLTMark/.memdump
tests/XSLTMark/Makefile
tests/XSLTMark/Makefile.in
tests/docbook/.memdump
tests/docbook/Makefile
tests/docbook/Makefile.in
tests/docs/Makefile
tests/docs/Makefile.in
tests/documents/.memdump
tests/documents/Makefile
tests/documents/Makefile.in
tests/exslt/Makefile
tests/exslt/Makefile.in
tests/exslt/common/.memdump
tests/exslt/common/Makefile
tests/exslt/common/Makefile.in
tests/exslt/date/.memdump
tests/exslt/date/Makefile
tests/exslt/date/Makefile.in
tests/exslt/dynamic/.memdump
tests/exslt/dynamic/Makefile
tests/exslt/dynamic/Makefile.in
tests/exslt/functions/.memdump
tests/exslt/functions/Makefile
tests/exslt/functions/Makefile.in
tests/exslt/math/.memdump
tests/exslt/math/Makefile
tests/exslt/math/Makefile.in
tests/exslt/sets/.memdump
tests/exslt/sets/Makefile
tests/exslt/sets/Makefile.in
tests/exslt/strings/.memdump
tests/exslt/strings/Makefile
tests/exslt/strings/Makefile.in
tests/extensions/.memdump
tests/extensions/Makefile
tests/extensions/Makefile.in
tests/general/.memdump
tests/general/Makefile
tests/general/Makefile.in
tests/keys/.memdump
tests/keys/Makefile
tests/keys/Makefile.in
tests/multiple/.memdump
tests/multiple/Makefile
tests/multiple/Makefile.in
tests/namespaces/.memdump
tests/namespaces/Makefile
tests/namespaces/Makefile.in
tests/numbers/.memdump
tests/numbers/Makefile
tests/numbers/Makefile.in
tests/plugins/.deps/
tests/plugins/Makefile
tests/plugins/Makefile.in
tests/plugins/xmlsoft_org_xslt_testplugin.la
tests/plugins/*.o
tests/plugins/*.lo
tests/reports/.memdump
tests/reports/Makefile
tests/reports/Makefile.in
tests/xinclude/.memdump
tests/xinclude/Makefile
tests/xinclude/Makefile.in
tests/xmlspec/.memdump
tests/xmlspec/Makefile
tests/xmlspec/Makefile.in
tests/xmlspec/debug
xslt-config
xsltConf.sh
xslt_xml_id.patch
xsltproc/.deps
xsltproc/Makefile
xsltproc/Makefile.in
xsltproc/xsltproc
tests/XSLTMark/db100.xml
tests/XSLTMark/db1000.xml
tests/XSLTMark/db10000.xml
tests/plugins/.libs
tests/plugins/plugin.res
xsltproc/testThreads
xsltproc/.libs/
