/AST_PAR
/addversion
/ast.h
/astbad
/ast_cpp
/ast_link
/ast_link_adam
/ast_test
/builddocs
/sun210.tex
/sun210.pdf
/sun211.tex
/sun211.pdf
/*.trs
*.safe
*.lo
*.o
*.la
.deps/
.libs/
.bug
AST_ERR
Makefile
Makefile.in
aclocal.m4
ast_err.h
ast_test.log
autom4te.cache/
build-aux/
cminpack/.deps/
cminpack/.dirstamp
componentinfo.dtd
config.h
config.h.in
config.log
config.status
configure
experiments
fac_1521_err
libtool
stamp-h1
starconf.status
sun210.htx/
sun210.htx_tar
sun210.lof
sun210.log
sun210.out
sun210.toc
sun211.htx/
sun211.htx_tar
sun211.lof
sun211.log
sun211.out
sun211.toc
test-suite.log
make.log
make.log.err
*~
.*.swp
/ast_tester/*.ps
/ast_tester/fred.tmp
/ast_tester/fred.txt
/ast_tester/fred2.txt
/ast_tester/draw3d
wcslib/.dirstamp
src/.dirstamp
src/f77.h
src/object.h
src/version.h

