<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>fits</string>
				<string>fit</string>
				<string>fts</string>
				<string>fitz</string>
				<string>ftz</string>
				<string>fz</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>fits.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>image/fits</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Flexible Image Transport System</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>FITS</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>ds9</string>
	<key>CFBundleGetInfoString</key>
	<string>"SAOImageDS9 8.3b2
Copyright 1999-2021
Smithsonian Astrophysical Observatory"</string>
	<key>CFBundleIconFile</key>
	<string>App.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.sao.SAOImageDS9</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
	  <string>cs</string>
	  <string>da</string>
	  <string>de</string>
	  <string>en</string>
	  <string>es</string>
	  <string>fr</string>
	  <string>ja</string>
	  <string>pt</string>
	  <string>zh</string>
	</array>
	<key>CFBundleName</key>
	<string>SAOImageDS9</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.3b2</string>
	<key>CFBundleSignature</key>
	<string>DS9</string>
	<key>CFBundleVersion</key>
	<string>8.3b2</string>
	<key>NSHighResolutionCapable</key>
	<string>True</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.11.0</string>
	<key>LSRequiresCarbon</key>
	<true/>
        <key>NSAppleScriptEnabled</key>
        <true/>
	<key>LSEnvironment</key>
	<dict>
	        <key>PATH</key>
		<string>/sw/bin:/usr/local/bin:/opt/local/bin:/usr/bin:/bin/:/usr/sbin:/sbin</string>
	</dict>
</dict>
</plist>
