<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
  Copyright (C) 1999-2018
  Smithsonian Astrophysical Observatory, Cambridge, MA, USA
  For conditions of distribution and use, see copyright notice in "copyright"
	this file, and for a DISCLAIMER OF ALL WARRANTIES.
-->

<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Tk</string>
	<key>CFBundleGetInfoString</key>
	<string>Tksao 8.3,
Copyright 1999-2021
Smithsonian Astrophysical Observatory"</string>
	<key>CFBundleIdentifier</key>
	<string>com.sao.tksao</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>8.3</string>
	<key>CFBundleSignature</key>
	<string>Tksao  </string>
	<key>CFBundleVersion</key>
	<string>8.3</string>
</dict>
</plist>
